
:host {
  footer {
    background-color: var(--ds-footer-bg);
    text-align: center;
    z-index: var(--ds-footer-z-index);
    // border-top: var(--ds-footer-border);
    padding: var(--ds-footer-padding);

    p {
      margin: 0;
    }

    div > img {
      height: var(--ds-footer-logo-height);
    }


    .top-footer {
      background-color: var(--ds-top-footer-bg);
      padding: var(--ds-footer-padding);
      margin: calc(var(--ds-footer-padding) * -1);
    }

    .bottom-footer {
      ul {
        li {
          display: inline-flex;

          a {
            padding: 0 calc(var(--bs-spacer) / 2);
            color: inherit
          }

          &:not(:last-child) {
            &:after {
              content: '';
              border-right: 1px var(--bs-secondary) solid;
            }

          }
        }
      }
    }
  }
}


::ng-deep html[dir="rtl"] .rights{
margin-top: .67rem !important;

}


hr{
  background-color: #FFF;
  margin-top: -3px !important;
  margin-bottom: 0 !important;
}

.container-fluid{
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
//  align-items: center;
flex-direction: row-reverse !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}




::ng-deep html[dir="rtl"] .social-list{
  margin-right: -40px ;
}

a{
  font-size: 15px;
}


a:hover{
  color: #FFF !important;
}



a.lnkMap {
  width: 215px;
  height: 215px;
  margin: 0 auto;
  display: block;
}
::ng-deep html[dir="rtl"]{
  .footer-links{
    display: flex;
    color:#fff;
    background-repeat: no-repeat;
     background-position: 100% 50%;
      background-size: 1.5em;
      padding: 0.3em;
  }
}

::ng-deep html[dir="ltr"]{
  .footer-links{
    display: flex;
    color:#fff;
    background-repeat: no-repeat;
     background-position: 0% 50%;
      background-size: 1.5em;
      padding: 0.3em;
      padding-left: 2em;
  }
}


